#servicesWrap {
    padding: 4rem 0;

    .services {
        width: 30%;
        
        &.leftServices {
            padding-top: 3rem;        
        }

        &.rightServices {
            padding-top: 10rem;        
        }
    }

    .middleImage {
        width: 35%;
        animation-name: bounce;
        -webkit-animation-name: bounce;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;    
    }
}