.term {
    width: 20%;
    text-align: center;

    .img {
        background-color: #fff;
        min-height: 272px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        border-radius: 0 2rem 2rem;
    }

    h5 {
        color: #fff;
        font-size: 1.5rem;
    }
}