.servicesPage{
    .servicesBannerWrap {
        background-color: #9cd36d;
        overflow: hidden;
        padding-top: 13rem;

        .container {
            max-width: 1600px;
            position: relative;
            align-items: center;
            min-height: 40vw;

            .imageWrap {
                position: absolute;
                right: -10rem;
                bottom: -6rem;
                z-index: 5;
            }

            .bigText {
                position: absolute;
                bottom: -6rem;
                left: -1rem;
                font-weight: 900;
                font-size: 18rem;
                margin-bottom: 0;
                color: rgba(255,255,255 ,0.3);
            }

            .textWrap {
                position: relative;
                z-index: 10;
                color: #fff;

                h1 {
                    font-weight: 800;
                    font-size: 4rem;
                    margin-bottom: 0;
                }

                h3 {
                    font-weight: 800;

                    span {
                        color: #315219;
                    }
                }

                .btn {
                    background-color: #628d3e;
                    font-weight: 800;
                    color: #fff;
                    font-size: 1.5rem;
                    border-radius: 0 33px 33px;
                    padding: 0.75rem 2.5rem;
                    margin-top: 1rem;
                }
            }

        }
    }
}