.aboutpage{
    .aboutBannerWrap {
        background-color: #f4f4f4;
        height: 102.48447204968944vh;
        position: relative;
        overflow: hidden;

        h1 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            color: #fff;
            font-weight: 900;
            font-size: 33rem;        
        }

        h3 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #505b86;
            font-size: 4rem;
            font-weight: 300;
            z-index: 1000;
        }

        .phoneImg1 {
            position: absolute;
            z-index: 20;
            bottom: 27%;
            left: 13%;
            transition: 1.5s all ease-in-out;
            -webkit-transition: 1.5s all ease-in-out;
            -moz-transition: 1.5s all ease-in-out;
            -ms-transition: 1.5s all ease-in-out;
            -o-transition: 1.5s all ease-in-out;
            transform: translateY(-130%);
            -webkit-transform: translateY(-130%);
            -moz-transform: translateY(-130%);
            -ms-transform: translateY(-130%);
            -o-transform: translateY(-130%);
            &.showImage{
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
            }
            
            .animationBounce{                
                animation-name: bounce;
                -webkit-animation-name: bounce;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-duration: 3s;
                animation-duration: 3s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }

            .shadow {
                box-shadow: 0 0 0 !important;
                display: inline-block;
                width: 100%;
                position: absolute;
                height: 92px;
                bottom: -38%;
                left: 0;
                opacity: 0;
                transition: 0.5s all ease;
                -webkit-transition: 0.5s all ease;
                -moz-transition: 0.5s all ease;
                -ms-transition: 0.5s all ease;
                -o-transition: 0.5s all ease;

                &.showShadow{
                    opacity: 1;
                }
            }
        }

        .phoneImg2 {
            position: absolute;
            right: 14%;
            bottom: 20%;
            transition: 1.5s all ease-in-out;
            -webkit-transition: 1.5s all ease-in-out;
            -moz-transition: 1.5s all ease-in-out;
            -ms-transition: 1.5s all ease-in-out;
            -o-transition: 1.5s all ease-in-out;
            transform: translateY(130%);
            -webkit-transform: translateY(130%);
            -moz-transform: translateY(130%);
            -ms-transform: translateY(130%);
            -o-transform: translateY(130%);
            &.showImage{
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
            }
            
            .animationBounce{                
                animation-name: bounce;
                -webkit-animation-name: bounce;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-duration: 4s;
                animation-duration: 4s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }

            .shadow {
                box-shadow: 0 0 0 !important;
                display: inline-block;
                width: 100%;
                position: absolute;
                height: 92px;
                bottom: -32%;
                left: 0;
                opacity: 0;                
                transition: 0.5s all ease;
                -webkit-transition: 0.5s all ease;
                -moz-transition: 0.5s all ease;
                -ms-transition: 0.5s all ease;
                -o-transition: 0.5s all ease;

                &.showShadow{
                    opacity: 1;
                }
            }
        }
    }
}