.contactWrap {
    color: #717997;
    font-weight: 600;
    width: 50%;

    h3 {
        margin-bottom: 2rem;
    }

    .address {
        margin-bottom: 1rem;
        font-style: normal;
        line-height: inherit;
    }
}